{% extends 'base.html.twig' %}

{% block title %}Articles de {{ categorie.titre }}{% endblock %}


{% block body %}
    <h1>Catégorie {{ categorie.titre }}</h1>
    <h4>{{ categorie.articles.count }} articles trouvés</h4>

    {% for article in categorie.articles %}
        <div class="border border-secondary rounded mb-4">
            <h2>{{ article.titre }}</h2>
            <p class="fst-italic">Crée le {{ article.createdAt | date("d/m/Y") }}</p>
            <h4> <span class="badge bg-secondary">{{ article.titre }}</span></h4>
            <p>{{ article.contenu }}</p>

        </div>
    {% endfor %}
{% endblock %}