{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}


{% block body %}

    <h1 class="mb-3">Création d'un article</h1>
    {{ form_start(formArticle) }}{# form #}
        {{ form_label(formArticle.titre,"Titre de l\'article",{
            'label_attr': {
                'class' : "text-warning"
            }
        }) }}
        {{ form_row(formArticle.titre,{
            'attr' : {
                'placeholder' : 'Veuillez saisir le titre de l\'article'
            },
            'help' : 'Le titre doit contenir au moins 5 caratères'
        }) }}{# champs titre #}
        {{ form_row(formArticle.contenu) }} {# champs contenu #}
        {{ form_row(formArticle.categorie) }}
        <input type="submit" class="btn btn-primary" value="Ajouter">
    {{ form_end(formArticle) }}{# /form #}

{% endblock %}

